@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
<div class="col-12">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Responsive Table</h6>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Country</th>
                        <th scope="col">ZIP</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                        <th scope="col">
                            <a class="btn btn-primary" asp-controller="Product" asp-action="Create">Create</a>
                        </th>
                        
                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>John</td>
                        <td>Doe</td>
                        <td>jhon@email.com</td>
                        <td>USA</td>
                        <td>123</td>
                        <td>Member</td>
                        <td><button type="submit" class="btn btn-warning rounded-pill m-2">Update</button> <button type="submit" class="btn btn-danger rounded-pill m-2">Delete</button></td>
                    </tr>
    
                </tbody>
            </table>
        </div>
    </div>
</div>
